.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.navbar p {
    font-size: 20px;
    margin: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}