.footballers-catalog-page {
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

.footballers-catalog-page h1 {
    text-align: center;
}

.empty-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content-container table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content-container th,
.content-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.content-container th {
    background-color: #f4f4f4;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    width: 40%;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
}

.edit-button {
    background-color: orange;
}

.delete-button {
    background-color: red;
}

.edit-button:hover {
    background-color: darkorange;
}

.delete-button:hover {
    background-color: darkred;
}